body {
  width: 1310px;
  margin: 0 auto;
  background: black;
}

.wrapper {
    width: 1280px;
    margin: 0 auto;
}

.start-screen {
 background: url(/shelter/assets/images/start-screen-gradient-background.png)
}

.header {
  /* width: 1200px; */
  height: 60px;
  padding: 30px 40px 0 40px;
  display: flex;
  justify-content: space-between;
}

.logo-title {
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo-subtitle {
  margin: 10px 0 0 4px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.nav-menu {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 35px;
  padding: 16px 0 17px 0;
}

.nav-link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  text-decoration: none;
}

.nav-link:hover {
  color: #FAFAFA;
  text-decoration: underline;
  text-decoration-color: #F1CDB3;
  text-decoration-thickness: 3px;
  text-underline-offset: 7px;
}

.start-screen-content {
  display: flex;
  padding: 90px 40px 0 40px;
}

.title-content {
  margin: 163px 42px 243px 0;
}

.title-heading {
  width: 310px;
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.title-subheading {
  margin: 42px 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.title-button {
  margin: 0;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.about {
  margin-top: -5px;
  padding: 80px 40px 100px 40px;
  background: #FFFFFF;
}

.about-content {
  height: 408px;
  display: flex;
  justify-content: space-between;
}

.about-pets-content {
  margin: 14px 175px 14px 0;
  width: 430px;
}

.about-pets-image {
  width: 300px;
  height: 408px;
  margin: 0 120px 0 175px;
}

.about-pets-heading {
  width: 370px;
  margin: 0;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about-pets-subheading {
  margin: 25px 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.about-pets-subheading-next {
  margin: 0;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}